In [78]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from dbhelper import pd_query, PgDB
from BorderModel import create_dummies

In [159]:
query = '''
        select 
            d.date,
            year,
            month,
            dayofmonth,
            dayofweek,
            minofday,
            newyears,
            us_mlk,
            us_washington,
            us_memorial,
            us_independence,
            us_columbus,
            us_veterans,
            us_thanksgiving,
            xmas,
            ca_goodfriday,
            ca_victoria,
            ca_canada,
            ca_civic,
            ca_thanksgiving,
            ca_boxing,
            ca_family
        from datefeatures d
        left join mungedata m on m.date = d.date 
            and crossing_id = 1
        left join publicholiday h on d.date::timestamp::date = h.date
        where
            d.date >= '2010-11-01'
            and d.date < '2016-1-1'
            and (minute=0 or minute=30)
        order by d.date;
        '''

df = pd_query(query)

In [168]:
query = '''
        select 
            d.date,
            year,
            month,
            dayofmonth,
            dayofweek,
            minofday
        from datefeatures d
        left join mungedata m on m.date = d.date 
            and crossing_id = 1
        left join publicholiday h on d.date::timestamp::date = h.date
        where
            d.date >= '2010-11-01'
            and d.date < '2016-1-1'
            and (minute=0 or minute=30)
        order by d.date;
        '''

df = pd_query(query)

In [169]:
categoricals = ['year', 'month', 'dayofmonth', 'dayofweek', 'minofday']
# categoricals = ['dayofweek', 'minofday']

In [170]:
df1 = create_dummies(df, categoricals)

In [171]:
df1.head()

,year_2010,year_2011,year_2012,year_2013,year_2014,month_1,month_2,month_3,month_4,month_5,...,minofday_1110,minofday_1140,minofday_1170,minofday_1200,minofday_1230,minofday_1260,minofday_1290,minofday_1320,minofday_1350,minofday_1380
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [172]:
df2 = df.drop(categoricals, axis=1).join(df1)

In [173]:
df2.columns.values

array(['date', 'year_2010', 'year_2011', 'year_2012', 'year_2013',
       'year_2014', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5',
       'month_6', 'month_7', 'month_8', 'month_9', 'month_10', 'month_11',
       'dayofmonth_1', 'dayofmonth_2', 'dayofmonth_3', 'dayofmonth_4',
       'dayofmonth_5', 'dayofmonth_6', 'dayofmonth_7', 'dayofmonth_8',
       'dayofmonth_9', 'dayofmonth_10', 'dayofmonth_11', 'dayofmonth_12',
       'dayofmonth_13', 'dayofmonth_14', 'dayofmonth_15', 'dayofmonth_16',
       'dayofmonth_17', 'dayofmonth_18', 'dayofmonth_19', 'dayofmonth_20',
       'dayofmonth_21', 'dayofmonth_22', 'dayofmonth_23', 'dayofmonth_24',
       'dayofmonth_25', 'dayofmonth_26', 'dayofmonth_27', 'dayofmonth_28',
       'dayofmonth_29', 'dayofmonth_30', 'dayofweek_0', 'dayofweek_1',
       'dayofweek_2', 'dayofweek_3', 'dayofweek_4', 'dayofweek_5',
       'minofday_0', 'minofday_30', 'minofday_60', 'minofday_90',
       'minofday_120', 'minofday_150', 'minofday_180', 'minofday_210',
       'minofday_240', 'minofday_270', 'minofday_300', 'minofday_330',
       'minofday_360', 'minofday_390', 'minofday_420', 'minofday_450',
       'minofday_480', 'minofday_510', 'minofday_540', 'minofday_570',
       'minofday_600', 'minofday_630', 'minofday_660', 'minofday_690',
       'minofday_720', 'minofday_750', 'minofday_780', 'minofday_810',
       'minofday_840', 'minofday_870', 'minofday_900', 'minofday_930',
       'minofday_960', 'minofday_990', 'minofday_1020', 'minofday_1050',
       'minofday_1080', 'minofday_1110', 'minofday_1140', 'minofday_1170',
       'minofday_1200', 'minofday_1230', 'minofday_1260', 'minofday_1290',
       'minofday_1320', 'minofday_1350', 'minofday_1380'], dtype=object)

In [174]:
X_train = df2[df2.date < '12/1/15'].drop('date', axis=1)
X_test = df2[df2.date >= '12/1/15'].drop('date', axis=1)

In [175]:
X_train.to_csv('../data/munge1_30_train.csv', index=False)

In [176]:
X_test.to_csv('../data/munge1_30_test.csv', index=False)